body {
  margin: 0;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #e7e7e7;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bm {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}
