body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(231, 231, 231);
}

.container{
    display: flex;
}

.bm{
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}